header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 140px;
  gap: 118px;
  max-width: 1440px;
  margin: 0 auto;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.menu-item {
  font-size: 1.125rem;
  color: #141414;
}
