.perfil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 140px;
  gap: 118px;
  max-width: 1440px;
  margin: 0 auto;
}
.perfil-texto {
  font-size: 4.5rem;
  font-weight: 900;
  position: relative;
}
.perfil-texto::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(./assets/img/detalhe.svg) no-repeat center;
  position: absolute;
  top: 0;
  left: -40px;
  z-index: -1;
}
.grid-perfil-texto p {
  font-size: 1.5rem;
  color: #525252;
  padding-top: 1.87rem;
}
@media (max-width: 1100px) {
  .perfil {
    gap: 50px;
  }
  .perfil-texto {
    font-size: 3.5rem;
  }
}
@media (max-width: 900px) {
  .perfil-img {
    display: none;
  }
  .perfil {
    display: flex;
    padding: 40px;
  }
  .perfil-texto {
    font-size: 3rem;
  }
}
