.perfil {
  margin: 40px 140px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 118px;
}
.perfil-texto {
  font-size: 4.5rem;
  font-weight: 900;
}
.grid-perfil-texto p {
  font-size: 1.5rem;
  color: #525252;
  padding-top: 1.87rem;
}
