/*imports dos outros css da pagina*/
@import url(./header.css);
@import url(./perfil.css);
/*reset geral*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
a {
  text-decoration: none;
}

/*container do site*/
.container {
  max-width: 1440px;
}

img {
  max-width: 100%;
}
